.form-container {
  width: auto;
  max-width: 500px;
  border-radius: 0.75rem;
  background-color: #DFDFB0; /* Updated background */
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
  margin: auto;
}

path {
  color: #000;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: black;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: black;
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.475rem;
  border: 1px solid #ccc; /* Updated border */
  outline: 0;
  background-color: #EDE8CA;
  padding: 0.75rem 1rem;
  color: rgba(17, 24, 39, 1);
}

#email {
  border-radius: 0.475rem;
}

.input-group input:focus {
  border-color: #000000;
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
  text-decoration: underline #007bff; /* Updated hover color */
}

.sign {
  display: block;
  width: 100%;
  background-color: #007bff; /* Updated button background */
  padding: 0.75rem;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 0.475rem;
  font-weight: 600;
}

.sign:hover {
  background-color: #0056b3; /* Updated button hover */
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: black;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #000;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #000;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding-right: 40px;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 300px;
  font-size: 1.2em;
  color: rgba(17, 24, 39, 1); /* Updated toggle color */
  display: flex;
  align-items: center;
}

.password-toggle:focus {
  outline: none;
}
#password::placeholder {
  font-weight: 200px;
  color: rgba(17, 24, 39, 1); /* Optional: Adjust the color if needed */
}
#email::placeholder {
  font-weight: 200px;
  color: rgba(17, 24, 39, 1); /* Optional: Adjust the color */
}

