.glass-card {
  width: 300px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.128);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background: rgba(54, 54, 54, 0.741);
  border: 1px solid rgba(85, 85, 85, 0.18);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.glass-card:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.451);
  transition: 0.1s;
}

hr.solid {
  border-top: 3px solid #bbb;
  width: 100%;
}


.glass-card-image-container {
  position: relative;
  padding: 20px;
  overflow: hidden;
}

.glass-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.glass-card:hover .glass-card-image {
  transform: scale(1.05);
  transition: 0.2s;
}

.glass-card-title {
  color: #f5f5f5;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.glass-card-content {
  padding: 20px;
}

.glass-card-description {
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #f5f5f5;
}

.glass-card-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: rgba(135, 67, 67, 0.9);
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  transition: all 0.5s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.glass-card-button:hover {
  background-color: rgba(255, 255, 255, 0.747);
  color: rgba(135, 67, 67, 0.9);
  border: 1px solid rgb(135,67,67);  
}