.card {
    position: relative;
    width: 18rem;
    border-radius: 12px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    transition: all 0.3s ease;
  }
  .dark .card{
    background-color: black;
    box-shadow: 0px 0px 5px white;
    color: white ;
    
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(31, 38, 135, 0.5);
  }

    .scrollToTopBtn {
      /* background-color: #FFE70F; */
      background-image: radial-gradient(#f7a469, #f83411);
      color: #fff;
      text-align: center;
      width: 53px;
      height: 53px;
      border-radius: 50%;
      font-size: 18px;
      text-decoration: none;
      border: none;
      line-height: 50px;
      /* Center text vertically */
      transition: background-color 0.3s ease;
      position: fixed;
      bottom: 40px;
      right: 43px;
      /* Hidden by default */
      z-index: 1000;
      margin-bottom: 10px;
    }
  
    .scrollToTopBtn a {
      text-decoration: none;
      color: white;
    }
  
    .progress-ring {
      position: fixed;
      bottom: 36px;
      margin-bottom: 10px;
      right: 39px;
      transform: rotate(0deg);
      z-index: 999;
      /* Just below the button */
      margin-bottom: 10px;
    }
  
    .progress-ring__circle {
      transition: 0.35s stroke-dasharray;
      transform: rotate(0deg);
      transform-origin: 50% 50%;
    }
  
    .scrollToTopBtn:hover {
      background-color: #484848;
    }
  
  .card-img-top {
    width: 100%;
    height: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.75rem;
  }
  
  .btn-primary {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007bff; 
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3; 
    color: #fff; 
  }