ul li a {
  text-decoration: none;
  color: black;
  font-size: large;
}
ul li a:hover {
  text-decoration: underline;
}
  
  ul {
    display: flex;
    flex-direction: column;
  }
  
  .page-footer {
    width: 100%;
    margin-top: 3rem;
    background-color: rgba(223, 223, 176, 0.479);
    color: black;
    border-radius: 15px;
  }
  
  .dark .page-footer {
    background-color: #262626;
    color: white;
  }
 .dark ul li a {
    color: white;
  }
  .social-icons-vertical {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the icons */
    margin-right: 20px; /* Add space between social icons and the list */
  }
  
  .social-icons-vertical ul {
    padding: 0;
    list-style: none;
  }
  
  .social-icons-vertical li {
    margin-bottom: 15px; /* Add spacing between icons */
  }
  
  .social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.5em;
  }
  .dark .social-icon{
    color: black;
  }
  
  .social-icon:hover {
    color: white;
  }
  
  .social-icon:hover[href*="github.com"] {
    background-color: #333;
  }
  .social-icon:hover[href*="twitter.com"] {
    background-color: #1da1f2;
  }
  .social-icon:hover[href*="mailto"] {
    background-color: #d44638;
  }
  
  .col-md-3.d-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; /* Adjust spacing */
  }
  
  .list-unstyled {
    margin-left: 20px;
  }
  
  .ml-4 {
    margin-left: 1.5rem; /* Adjust the spacing as needed */
  }
.pos{
  margin-left: 4rem;
}  
.niti{
  width: 40% !important;
}
