ul li a {
  text-decoration: none;
  color: black;
  font-size: large;
}
ul li a:hover {
  text-decoration: underline;
}
  
  ul {
    display: flex;
    flex-direction: column;
  }
  
  .page-footer {
    width: 100%;
    margin-top: 3rem;
    background-color: rgba(223, 223, 176, 0.479);
    color: black;
    border-radius: 15px;
  }
  
  .dark .page-footer {
    background-color: #262626;
    color: white;
  }
 .dark ul li a {
    color: white;
  }