/* Navbar.css */

.gradient-bg {
  background: linear-gradient(45deg, #d29e66, #8b952c, #9f552d, #8a3945, #79215d, #886ab0, #537c97, #23388f, #34865c);
  background-size: 600% 600%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
