

body{
    margin-top: 60px;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}

a, a:active, a:focus {
    color: #333;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 60px 0;
    /* min-height: 100vh; */
}

.footer {
    /* background: linear-gradient(315deg, rgba(101, 0, 94, 0.457) 3%, rgba(60, 133, 206, 0.49) 38%, rgba(48, 238, 225, 0.51) 68%, rgba(255, 25, 25, 0.477) 98%); */
    padding-top: 80px;
    padding-bottom: 40px;
}

/* END FOOTER SOCIAL DESIGN */

@media only screen and (max-width: 768px) { 
    .single_footer { margin-bottom: 30px; }
}

.single_footer h4 {
    color: #121111;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}

.single_footer h4::after {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background: #070707;
    margin-top: 20px;
}

.single_footer p { color: #0a0a0a; }
.single_footer ul { margin: 0; padding: 0; list-style: none; }

.single_footer ul li a {
    color: #020202;
    transition: all 0.3s ease 0s;
    line-height: 36px;
    font-size: 15px;
    text-transform: capitalize;
    text-decoration: none;
}

.single_footer ul li a:hover { color: #ff3666; }


.single_footer_address ul li { color: #080808; }
.single_footer_address ul li span {
    font-weight: 400;
    color: #0a0a0a;
    line-height: 28px;
}

.contact_social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* START NEWSLETTER CSS */
.subscribe {
    display: block;
    position: relative;
    margin-top: 15px;
    width: 100%;
}

.subscribe__input {
    background-color: #fcf9f9;
    border: none;
    border-radius: 5px;
    color: #333;
    display: block;
    font-size: 15px;
    font-weight: 500;
    height: 60px;
    letter-spacing: 0.4px;
    margin: 0;
    padding: 0 150px 0 20px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}

@media only screen and (max-width: 768px) { 
    .subscribe__input { padding: 0 50px 0 20px; }
}

.subscribe__btn {
    background-color: transparent;
    border-radius: 0 25px 25px 0;
    color: #01c7e9;
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
}

.subscribe__btn i { transition: all 0.3s ease 0s; }

@media only screen and (max-width: 768px) { 
    .subscribe__btn { right: 0px; }
}

.subscribe__btn:hover i { color: #ff3666; }

button {
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 0;
}
/* END NEWSLETTER CSS */

/* START SOCIAL PROFILE CSS */
.social_profile { margin-top: 40px; }
.social_profile ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social_profile ul li { float: left; }
.social_profile ul li a {
    text-align: center;
    border: 0;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 0 5px;
    font-size: 18px;
    color: #0d0d0d;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 768px) { 
    .social_profile ul li a { margin-right: 10px; margin-bottom: 10px; }
}

@media only screen and (max-width: 480px) { 
    .social_profile ul li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

.social-icons a.facebook:hover {
    background-color: #3b5998;
    border-color: #3b5998;
}

.social-icons a.twitter:hover {
    background-color: #00aced;
    border-color: #00aced;
}

.social-icons a.instagram:hover {
    background-color: #f00077;
    border-color: #f00077;
}

/* END SOCIAL PROFILE CSS */

.copyright {
    margin-top: 70px;
    padding-top: 40px;
    color: #080808;
    font-size: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    text-align: center;
}

.copyright a {
    color: #0b0b0b;
    transition: all 0.2s ease 0s;
}

.copyright a:hover {
    color: #ff3666;
}
