* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(228, 193, 129, 0.272);
}

.dark {
  background-color: #2c2a2a;
  color: white;
  transition: 0.25s;
}


::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f0f3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b1b183;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #DFDFB0;
  border-radius: 12px;
}
