* {
  background-color: #242424;
  color: #fff;
}

/* Hide the up and down buttons in number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}