:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* BACKGROUND with wave animation */
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgba(101, 0, 94, 0.457) 3%, rgba(60, 133, 206, 0.49) 38%, rgba(48, 238, 225, 0.51) 68%, rgba(255, 25, 25, 0.477) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  color: #eee;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

/* Adjusting text color highlight for better visibility */
/*.episode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.next-episode-card {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 16px;
  margin-top: 20px;
  width: 450px;

  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(40, 40, 40, 0.8);
  color: #fff;
  position: relative;
}
.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.next-episode-card h5, .next-episode-card p {
  color: #FFBF00; 
  display: inline-block;
  padding: 0 4px;
  border-radius: 4px;
} */

