* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(228, 193, 129, 0.272);
}

.dark {
  background-color: #121212;
  color: white;
  transition: 0.25s;
}
.scroll-to-top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius:50%;
  background-color: #333;
  color: #fff;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.4s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.scroll-to-top.show{
  opacity: 1;
  visibility: visible;
}
.scroll-to-top:hover{
  background-color: #555;
}